:root {
  font-size: 1.5em;
  font-family: arial;
}
h1 {
  text-align: center;
}
form {
  border: 2px solid grey;
  padding: 1em 1em;
}
input {
  width: 100%;
  margin: 3px 0;
  font-size: 1em;
  padding: 0.5em;
}
input[type=button] {
  background-color: lightGreen;
}

p.error {
  color: red;
  font-size: 0.8em;
}
td, th {
  border: 2px solid red;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
